.Meme .form {
  font-family: 'Karla';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Meme input[type='text'] {
  width: 40vw;
  margin-block: 3.6rem 1.5rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
}

.Meme .text-input {
  display: flex;
  gap: 1.7rem;
}

.Meme button {
  background: linear-gradient(
    109.6deg,
    rgb(209, 158, 246, 0.7) 11.2%,
    rgb(93, 219, 241, 0.7) 91.1%
  );
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  width: 81vw;
  margin-inline: 3.5rem;
  height: 4rem;
  border: 0;
  border-radius: 5px;
}

.Meme .image {
  max-width: 100%;
  margin-top: 1.5rem;
  border-radius: 5px;
}

.meme-container {
  position: relative;
}

.Meme .text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.Meme .text.bottom {
  bottom: 0;
}

.Meme .text.top {
  top: 0;
}
