.Header {
  font-family: 'Karla';
  color: #fff;
  display: flex;
  background: linear-gradient(
    109.6deg,
    rgb(209, 158, 246, 0.7) 11.2%,
    rgb(93, 219, 241, 0.7) 91.1%
  );
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
}

.Header .logo {
  width: 5rem;
}

.Header .title {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.Header h1 {
  font-size: 2.1rem;
}

.Header .desc {
  font-size: 1.2rem;
  margin-right: 3.7rem;
  font-weight: 500;
}
